<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h1 class="display-4">Yurt Dojo</h1>
  <p class="lead">Lorem ipsum dolor amet Mixtape hell of farm-to-table, retro next level cardigan flexitarian irure selvage beard. Synth fam man braid drinking vinegar. Pork belly fanny pack lyft consectetur try-hard air plant. Kinfolk ut 90's lomo vinyl tote bag, actually gochujang polaroid fugiat adipisicing drinking vinegar bitters subway tile. 90's id lorem beard, taxidermy lyft drinking vinegar VHS dreamcatcher incididunt. Keytar biodiesel ea godard ullamco four dollar toast.</p>

  <p class="lead">Taiyaki fixie minim unicorn, kinfolk mollit lomo. Austin esse ut venmo +1, knausgaard hashtag excepteur labore beard glossier. Tattooed tumblr vaporware health goth. Sunt pitchfork gochujang leggings cold-pressed heirloom cloud bread food truck. Seitan taxidermy small batch sunt.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Continue...</a>
  </p>
  </div>
</div>
